In [ ]:
"""
Copyright 2024 Muhammad Khalid Habiburahman

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
"""

In [ ]:
import pandas as pd
import re

# Load Raw Employee Data

In [ ]:
df = pd.read_csv('Dataset/raw_tsel/diffbot-tsel-emp-export.csv')

In [ ]:
df.head(3)

,name,summary,skills_name,employments_employer_name,employments_title,locations_address,locations_city_name,locations_region_name,locations_country_name,locations_postalCode,educations_institution_name,educations_major_name,linkedInUri,twitterUri
0,Wishnutama,Indonesian businessman and minister and MNCTV'...,"supply chain management,biomedical engineering...","Telkomsel,RS. Bunda Group,Asian Television Awa...","Chairman,Vice Chairman,Advisory Board Member,C...","Singapore,Indonesia,Jakarta Metropolitan Area,...","Jayapura,Boston,Montpelier,Brisbane","Jakarta,Papua,Massachusetts,Vermont,Queensland","Singapore,Indonesia,Indonesia,Indonesia,Indone...","02110,05602","ISS International School,Norwich University,No...","Navy/Marine ROTC, Naval Science and Operations...",linkedin.com/in/wishnutama-kusubandio-69230712,twitter.com/wishnutama
1,Yohannes Glen,VP - IT Security - PT Indodax Nasional Indonesia,"supply chain management,enterprise architect,f...","Indodax,Bank Jago Tbk,Telkomsel,DBS Bank,BNI,B...","VP Head of IT Security,VP Head of IT Security ...","Jakarta, Jakarta, Indonesia,Indonesia,Jakarta,...",East Jakarta,"Jakarta,Jakarta","Indonesia,Indonesia,Indonesia",NaN,BINUS University,Accounting Computerized,linkedin.com/in/yohannes-glen-01611720,NaN
2,Ririek Adriansyah,President Director of PT Telkom Indonesia (Per...,NaN,"Telkom Indonesia (Persero) Tbk.,Telkomsel,MDI ...","President Director,President Director,Board of...","IDN,Special Region of Yogyakarta, Indonesia",NaN,Special Region of Yogyakarta,"Indonesia,Indonesia",NaN,Institut Teknologi Bandung,NaN,linkedin.com/in/ririek-adriansyah-8163684,NaN

# Exploratory Data Analysis (EDA)

In [ ]:
df.columns

Index(['name', 'summary', 'skills_name', 'employments_employer_name',
       'employments_title', 'locations_address', 'locations_city_name',
       'locations_region_name', 'locations_country_name',
       'locations_postalCode', 'educations_institution_name',
       'educations_major_name', 'linkedInUri', 'twitterUri'],
      dtype='object')

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         10000 non-null  object
 1   summary                      10000 non-null  object
 2   skills_name                  6374 non-null   object
 3   employments_employer_name    10000 non-null  object
 4   employments_title            9926 non-null   object
 5   locations_address            9943 non-null   object
 6   locations_city_name          4119 non-null   object
 7   locations_region_name        6906 non-null   object
 8   locations_country_name       9877 non-null   object
 9   locations_postalCode         175 non-null    object
 10  educations_institution_name  7656 non-null   object
 11  educations_major_name        3789 non-null   object
 12  linkedInUri                  9620 non-null   object
 13  twitterUri                   412 non-null    object
dtypes: object(14)
memory usage: 1.1+ MB

Ensuring all data in the `employments_employer_name` column has the "Telkomel" value in it.

In [ ]:
df_tsel = df[df['employments_employer_name'].str.contains(rf"\b{re.escape('Telkomsel')}\b", case=False, regex=True, na=False)]

In [ ]:
df_tsel

,name,summary,skills_name,employments_employer_name,employments_title,locations_address,locations_city_name,locations_region_name,locations_country_name,locations_postalCode,educations_institution_name,educations_major_name,linkedInUri,twitterUri
0,Wishnutama,Indonesian businessman and minister and MNCTV'...,"supply chain management,biomedical engineering...","Telkomsel,RS. Bunda Group,Asian Television Awa...","Chairman,Vice Chairman,Advisory Board Member,C...","Singapore,Indonesia,Jakarta Metropolitan Area,...","Jayapura,Boston,Montpelier,Brisbane","Jakarta,Papua,Massachusetts,Vermont,Queensland","Singapore,Indonesia,Indonesia,Indonesia,Indone...","02110,05602","ISS International School,Norwich University,No...","Navy/Marine ROTC, Naval Science and Operations...",linkedin.com/in/wishnutama-kusubandio-69230712,twitter.com/wishnutama
1,Yohannes Glen,VP - IT Security - PT Indodax Nasional Indonesia,"supply chain management,enterprise architect,f...","Indodax,Bank Jago Tbk,Telkomsel,DBS Bank,BNI,B...","VP Head of IT Security,VP Head of IT Security ...","Jakarta, Jakarta, Indonesia,Indonesia,Jakarta,...",East Jakarta,"Jakarta,Jakarta","Indonesia,Indonesia,Indonesia",NaN,BINUS University,Accounting Computerized,linkedin.com/in/yohannes-glen-01611720,NaN
2,Ririek Adriansyah,President Director of PT Telkom Indonesia (Per...,NaN,"Telkom Indonesia (Persero) Tbk.,Telkomsel,MDI ...","President Director,President Director,Board of...","IDN,Special Region of Yogyakarta, Indonesia",NaN,Special Region of Yogyakarta,"Indonesia,Indonesia",NaN,Institut Teknologi Bandung,NaN,linkedin.com/in/ririek-adriansyah-8163684,NaN
3,Vira Shanty,Director at Frontera,"enterprise architect,customer relations,servic...","Frontera,OVO,Telkomsel,Telkomsel,Telkomsel,Tel...","Director,Chief Data Officer,GM IT Big Data & A...","Jakarta, Jakarta, Indonesia,Jakarta, Indonesia...",East Jakarta,"Jakarta,Jakarta","Indonesia,Indonesia,Indonesia",NaN,NaN,NaN,linkedin.com/in/vira-shanty-217aab108,NaN
4,R Vidian Permadi (David),Vice President at Gereja katolik,"supply chain management,economics,teaching,rev...","CV Sutanto Trans,PT Quantum Qapita Sekuritas,G...","Technical Support,Settlement Clerk,Co Owner,Ow...","Indonesia,West Java Province, Indonesia,Bandun...",Bandung,"West Java,West Java,Michigan","Indonesia,Indonesia,Indonesia,United States of...",48617,"@SMPN12BANDUNG,@SMPN12BANDUNG,@SMPN12BANDUNG,@...",NaN,linkedin.com/in/sir-david-de-bergey-r-vidian-p...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Hudy Kryswanda,GM TELKOMSEL MEDAN at Telkomsel,NaN,Telkomsel,GM TELKOMSEL MEDAN,"Medan, Indonesia",Medan,North Sumatra,Indonesia,NaN,NaN,NaN,NaN,NaN
9996,LOOP MANADO,YOUTH at Telkomsel,NaN,Telkomsel,YOUTH,MANADO,Manado,North Sulawesi,Indonesia,NaN,NaN,NaN,NaN,NaN
9997,Irfanhardian Hardian,Operator at Telkomsel,NaN,Telkomsel,Operator,Garut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,Angger Pamungkas,Employee at Telkomsel,NaN,Telkomsel,NaN,"Jakarta, Indonesia",East Jakarta,Jakarta,Indonesia,NaN,NaN,NaN,NaN,NaN
9999,Yanuar Gilang,TPR at Telkomsel,NaN,Telkomsel,TPR,Slawi,Slawi,Central Java,Indonesia,NaN,NaN,NaN,NaN,NaN

# Data Cleaning

Before we construct a knowledge graph from the data, as you can see, the data has multivalue in each column. We need to seperate them all and make one column consist of one value.

In [ ]:
df_tsel_summary_split = df_tsel['summary'].str.split(' at ', expand=True).iloc[:, :2]
df_tsel_summary_split.columns = ['current_position', 'current_company']

df_tsel_company_split = df_tsel['employments_employer_name'].str.split(',', expand=True).iloc[:, :10]
df_tsel_company_split.columns = [f'company_{i + 1}' for i in range(df_tsel_company_split.shape[1])]

df_tsel_title_split = df_tsel['employments_title'].str.split(',', expand=True).iloc[:, :10]
df_tsel_title_split.columns = [f'title_{i + 1}' for i in range(df_tsel_title_split.shape[1])]

df_tsel_skill_split = df_tsel['skills_name'].str.split(',', expand=True)
df_tsel_skill_split.columns = [f'skill_{i + 1}' for i in range(df_tsel_skill_split.shape[1])]

df_tsel_education_institution_split = df_tsel['educations_institution_name'].str.split(',', expand=True).iloc[:, :20]
df_tsel_education_institution_split = df_tsel_education_institution_split.apply(lambda row: pd.Series(row).drop_duplicates().tolist(), axis=1)
max_cols = df_tsel_education_institution_split.apply(lambda row: len(row)).max()
df_tsel_education_institution_split = pd.DataFrame(df_tsel_education_institution_split.tolist(), columns=[f'edu_institution_{i + 1}' for i in range(max_cols)])
df_tsel_education_institution_split = df_tsel_education_institution_split.dropna(axis=1, how='all')

df_tsel_education_major_split = df_tsel['educations_major_name'].str.split(',', expand=True)
df_tsel_education_major_split.columns = [f'edu_major_{i + 1}' for i in range(df_tsel_education_major_split.shape[1])]
df_tsel_education_major_split = df_tsel_education_major_split.applymap(lambda x: None if pd.notna(x) and any(char.isdigit() for char in str(x)) else x)

df_tsel_location_address_split = df_tsel['locations_address'].str.split(',', expand=True).iloc[:, :1]
df_tsel_location_address_split.columns = ['current_location_by_address']

df_tsel_location_city_split = df_tsel['locations_city_name'].str.split(',', expand=True).iloc[:, :1]
df_tsel_location_city_split.columns = ['current_location_by_city']

df_tsel_location_region_split = df_tsel['locations_region_name'].str.split(',', expand=True).iloc[:, :1]
df_tsel_location_region_split.columns = ['current_location_by_region']

df_tsel_location_country_split = df_tsel['locations_country_name'].str.split(',', expand=True).iloc[:, :1]
df_tsel_location_country_split.columns = ['current_location_by_country']

df_tsel_location_postalCode_split = df_tsel['locations_postalCode'].str.split(',', expand=True).iloc[:, :1]
df_tsel_location_postalCode_split.columns = ['current_location_by_postal_code']

df_tsel = pd.concat([df_tsel, df_tsel_summary_split, df_tsel_company_split, df_tsel_title_split,
                     df_tsel_skill_split, df_tsel_education_institution_split, df_tsel_education_major_split,
                     df_tsel_location_address_split, df_tsel_location_city_split, df_tsel_location_region_split,
                     df_tsel_location_country_split, df_tsel_location_postalCode_split], axis=1)

df_tsel = df_tsel.drop(['summary', 'employments_employer_name', 'employments_title',
                        'skills_name', 'educations_institution_name', 'educations_major_name',
                        'locations_address', 'locations_city_name', 'locations_region_name',
                        'locations_country_name', 'locations_postalCode'], axis=1)

df_tsel = df_tsel.fillna('unknown')

df_tsel = df_tsel.applymap(lambda x: str(x).replace(' ', '_'))\

df_tsel = df_tsel.replace({'unknown': None})

In [ ]:
df_tsel

,name,linkedInUri,twitterUri,current_position,current_company,company_1,company_2,company_3,company_4,company_5,...,edu_major_4,edu_major_5,edu_major_6,edu_major_7,edu_major_8,current_location_by_address,current_location_by_city,current_location_by_region,current_location_by_country,current_location_by_postal_code
0,Wishnutama,linkedin.com/in/wishnutama-kusubandio-69230712,twitter.com/wishnutama,Indonesian_businessman_and_minister_and_MNCTV'...,None,Telkomsel,RS._Bunda_Group,Asian_Television_Awards,Tokopedia,Ministry_of_Tourism_and_Creative_Economy_of_th...,...,None,None,None,None,None,Singapore,Jayapura,Jakarta,Singapore,02110
1,Yohannes_Glen,linkedin.com/in/yohannes-glen-01611720,None,VP_-_IT_Security_-_PT_Indodax_Nasional_Indonesia,None,Indodax,Bank_Jago_Tbk,Telkomsel,DBS_Bank,BNI,...,None,None,None,None,None,Jakarta,East_Jakarta,Jakarta,Indonesia,None
2,Ririek_Adriansyah,linkedin.com/in/ririek-adriansyah-8163684,None,President_Director_of_PT_Telkom_Indonesia_(Per...,None,Telkom_Indonesia_(Persero)_Tbk.,Telkomsel,MDI_Ventures,Telin,TELEKOMUNIKASI_INDONESIA_(PERSERO),...,None,None,None,None,None,IDN,None,Special_Region_of_Yogyakarta,Indonesia,None
3,Vira_Shanty,linkedin.com/in/vira-shanty-217aab108,None,Director,Frontera,Frontera,OVO,Telkomsel,Telkomsel,Telkomsel,...,None,None,None,None,None,Jakarta,East_Jakarta,Jakarta,Indonesia,None
4,R_Vidian_Permadi_(David),linkedin.com/in/sir-david-de-bergey-r-vidian-p...,None,Vice_President,Gereja_katolik,CV_Sutanto_Trans,PT_Quantum_Qapita_Sekuritas,GRAND_ROYAL_PANGHEGAR_HOTEL_BANDUNG,Pizza_Hut,McDonald’s,...,None,None,None,None,None,Indonesia,Bandung,West_Java,Indonesia,48617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Hudy_Kryswanda,None,None,GM_TELKOMSEL_MEDAN,Telkomsel,Telkomsel,None,None,None,None,...,None,None,None,None,None,Medan,Medan,North_Sumatra,Indonesia,None
9996,LOOP_MANADO,None,None,YOUTH,Telkomsel,Telkomsel,None,None,None,None,...,None,None,None,None,None,MANADO,Manado,North_Sulawesi,Indonesia,None
9997,Irfanhardian_Hardian,None,None,Operator,Telkomsel,Telkomsel,None,None,None,None,...,None,None,None,None,None,Garut,None,None,None,None
9998,Angger_Pamungkas,None,None,Employee,Telkomsel,Telkomsel,None,None,None,None,...,None,None,None,None,None,Jakarta,East_Jakarta,Jakarta,Indonesia,None
9999,Yanuar_Gilang,None,None,TPR,Telkomsel,Telkomsel,None,None,None,None,...,None,None,None,None,None,Slawi,Slawi,Central_Java,Indonesia,None

# Export Cleaned Data

In [ ]:
df_tsel.to_csv('Dataset/raw_tsel/diffbot-tsel-emp-export-cleaned4kg.csv', index=False)
print('Export success!')

Export success!

Checking each column of data

In [ ]:
for i in range(len(df_tsel.columns)):
    print(df_tsel.columns[i])

name
linkedInUri
twitterUri
current_position
current_company
company_1
company_2
company_3
company_4
company_5
company_6
company_7
company_8
company_9
company_10
title_1
title_2
title_3
title_4
title_5
title_6
title_7
title_8
title_9
title_10
skill_1
skill_2
skill_3
skill_4
skill_5
skill_6
skill_7
skill_8
skill_9
skill_10
skill_11
skill_12
skill_13
skill_14
skill_15
skill_16
skill_17
skill_18
skill_19
skill_20
skill_21
skill_22
skill_23
skill_24
skill_25
skill_26
skill_27
skill_28
skill_29
skill_30
skill_31
skill_32
skill_33
skill_34
skill_35
skill_36
skill_37
skill_38
skill_39
skill_40
skill_41
skill_42
skill_43
skill_44
skill_45
skill_46
skill_47
skill_48
skill_49
skill_50
skill_51
skill_52
skill_53
skill_54
skill_55
skill_56
skill_57
skill_58
skill_59
skill_60
skill_61
skill_62
skill_63
skill_64
skill_65
skill_66
skill_67
skill_68
skill_69
skill_70
skill_71
skill_72
skill_73
skill_74
skill_75
skill_76
skill_77
skill_78
skill_79
skill_80
skill_81
skill_82
skill_83
skill_84
skill_85
skill_86
skill_87
skill_88
skill_89
skill_90
skill_91
skill_92
skill_93
skill_94
skill_95
skill_96
skill_97
skill_98
edu_institution_1
edu_institution_2
edu_institution_3
edu_institution_4
edu_institution_5
edu_institution_6
edu_institution_7
edu_institution_8
edu_institution_9
edu_institution_10
edu_institution_11
edu_institution_12
edu_major_1
edu_major_2
edu_major_3
edu_major_4
edu_major_5
edu_major_6
edu_major_7
edu_major_8
current_location_by_address
current_location_by_city
current_location_by_region
current_location_by_country
current_location_by_postal_code